.certificacoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #2C2C2C;
    padding: 5em;
}

@media (max-width: 1024px) {
    .certificacoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
}