.l-header-site{
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 3;
    padding: 16px;
}

.l-brand {

    img {
        max-width: 200px;

        @include media-breakpoint-up('md') {
            max-width: 250px;
        }
    }
}

.l-header-site__sticky{
    padding: 10px 16px;
    position: fixed !important;
    background-color: #FBF4F0;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 10px -10px rgba(#000, .35);
    box-shadow: 0 10px 10px -10px rgba(#000, .35);

    .l-brand{

        @include media-breakpoint-up('md') {
            img{
                max-width: 150px;
            }
        }
    }

    .l-header-site__middle{
        display: none;
    }
}

.btn-rs{

  a{
    border: 1px solid $primary;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: bold;
    background: transparent;
    color: $primary;

    &:hover{
        background: $primary;
        color: #fff;
    }

  }

}

.btn-rs-white{

  a{
    border: 1px solid $white;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: transparent;
    transition: all .3s ease;

    &:hover{
        background: $white;
        color: $primary;
    }

  }

}